.bg-primary-light {
  background: rgb(49 95 240) !important;
}

#img-at01 {
  max-width: 450px;
  border-radius: 50%;
  aspect-ratio: 1;
  object-fit: cover;
}

#bg-dif {
  background: url(../img/right-light-gradient-background-1_530521-1053.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#bg-dif > :first-child {
  background: linear-gradient(45deg, #6c63ff, #6c63ff45);
}

header img {
  max-height: 300px;
  object-fit: contain;
  width: 100%;
  height: 100%;
}

#products-hl-bg01 {
  background: url(../img/home-loan-bg01.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.img-m-250 {
  max-width: 200px;
}

.banksSwiper img {
  max-height: 100px;
  height: 100%;
}
/* .banksSwiper .swiper-wrapper {
  display: flex;
  align-items: stretch;
  justify-content: stretch;
} */

.nav-link:focus-visible {
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
}

.nav-item.dropdown:hover .dropdown-menu {
  display: block !important;
}

.interest .swiper img {
  -o-object-fit: contain;
  object-fit: contain;
  height: 100% !important;
  /* max-width: 100%; */
  width: 200px !important;
}

.interest .swiper .card > :first-child {
  display: flex;
  align-items: center;
  justify-content: start;
  height: 80px;
  max-width: 100%;
  width: 220px;
  border-radius: 25px;
  /* border: 1px solid #aaa; */
  overflow: hidden;
  left: 50%;
  translate: -50%;
}

#swiper-01 .card.p-4.position-relative.pt-5 {
  height: 100%;
  border: 3px solid transparent;
}

/* .interest {
  background-color: #f8f8f8;
} */

#swiper-01 .card.p-4.position-relative.pt-5 {
  height: 100% !important;
  border: 3px solid transparent;
  background-color: white;
}

.interest .swiper-slide {
  height: auto;
}
.card-header.bg-white.border-0.mt-3 {
  background-color: white;
  height: 100%;
}

#sec-bg-home-loan {
  background: url("../img/Home Loan.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 80% ;
  height: 100%;
  min-height: 100px;
}
