@import url(../../assets/css/style.css);

:root {
  --black: #0b0c10;
  --secondary-black: #1f2833;
  --grey: #c5c6c7;
  --lightgrey: #66fcf1;
  --sim-green: #45a29e;

  --m-blue: #96b9d9;
}

/* .brand-hightlighter > span {
  color: var(--sec);
  font-size: 18px;
}
.brand-hightlighter div :nth-child(2) {
  background-color: var(--sec);
  color: white;
  padding: 0px 5px;
  font-size: 10px;
}
.brand-hightlighter img {
  width: 38px;
  rotate: 180deg;
} */

.h-pri {
  color: var(--pri);
}

header nav + .container {
  min-height: calc(100vh - 95px);
}

.nav + div,
header .container > .row {
  min-height: calc(100vh - 95px);
}

header {
  background: url("../img/2main-sec-brand/1.jpg");
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
  position: relative;
}

header .row > :nth-child(2) {
  /* background-color: var(--mark0); */
}

header {
  background-color: var(--pri0);
}

header nav + .container-fluid {
  margin-top: 22px;
}

/* c-form01t */

header .container-fluid ::placeholder {
  color: var(--black);
}

html {
  scroll-behavior: smooth;
}
.form-bg {
  /* width: 330px; */
  background-image: linear-gradient(#fff, #eee);
  /* box-shadow: 1px 1px 50px 0.2px rgba(0, 0, 0, 0.2); */
  /* border-radius: 8px; */
  margin: auto;
}
/* .form-bg h3 {
  width: 100%;
  color: #fff;
  padding: 8px;
  font-size: 12pt;
  background-color: var(--pri);
  text-align: center;
  margin-top: 0;
  border-radius: 8px 8px 0 0;
} */
/* .form {
  display: grid;
  width: 100%;
  row-gap: 10px;
  column-gap: 10px;
  grid-template-columns: repeat(2, 1fr);
  padding: 15px;
  margin: auto;
} */
.form > input,
.form > select {
  /* width: 100%; */
  /* font-size: 9pt; */
  /* padding: 9px;
  background-color: #ebecf0;
  border-radius: 6px;
  color: var(--black);
  box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff;
  transition: all 0.2s ease-in-out;
  appearance: none;
  -webkit-appearance: none;
  border: 0;
  outline: 0;
  text-shadow: 1px 1px 0 #fff; */
}
/* header select,
header .form-check {
  grid-column: span 2;
} */
/* .form > input:focus,
.form > select:focus {
  box-shadow: inset 1px 1px 1px #babecc, inset -1px -1px 2px #fff;
} */
/* option {
  background-color: #fff;
} */
/* .form > input {
  grid-column: 1 / 3;
}
.form-number {
  grid-column: 1 / 3;
} */
/* .form label{
    padding: 20px;
} */
.form label .box {
  /* width: 20px;
    height: 20px; */
  /* background-color: #eee;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: inline-block;
  margin-right: 10px;
  cursor: pointer; */
}
/* .active {
  transition: 0.3s;
  background-color: #26d0ff !important;
} */
/* .form label sup {
  font-size: 10px;
  color: gray;
  color: var(--black);
  cursor: pointer;
} */
/* .form div:last-child {
  transition: 0.3s;
  width: 100%;
  margin: auto;
  margin-bottom: 15px;
  font-size: 14pt;
  padding: 15px;
  color: #fff;
  text-align: center;
  background-color: var(--pri);
  border-radius: 8px;
  grid-column: 1 / 3;
  margin-top: 30px;
} */
.form div:last-child:hover {
  transition: 0.3s;
  cursor: pointer;
  transform: scale(1.02);
}
@media only screen and (max-width: 768px) {
  .form-bg {
    width: 100%;
  }
  .form {
    width: 100%;
  }
  .form-preferency {
    font-size: 8pt;
  }
}
/* c-form01t */

.why-us .col .card {
  border-top: 3px solid var(--pri2);
}

h2 {
  position: relative;
}
h2::before {
  content: "";
  display: block;
  width: 80px;
  height: 3px;
  /* background-color: var(--pri2); */
  background-color: blue;
  /* background-color: var(--bg-primary); */
  top: 130%;
  position: absolute;
  left: calc(50% - 44px);
}

h2::after {
  content: "▸";
  display: block;
  /* width: 50px; */
  /* height: 3px; */
  /* color: var(--pri2); */
  color: blue;
  top: 80%;
  left: 51.7%;
  position: absolute;
  right: calc(50% - 15px);
}

.interest .owl-carousel .card > :first-child {
  display: flex;
  align-items: center;
  justify-content: start;
  height: 80px;
  max-width: 100%;
  width: 220px;
  border-radius: 25px;
  /* border: 1px solid #aaa; */
  overflow: hidden;
}

.interest .owl-carousel img {
  object-fit: contain;
  height: 100% !important;

  /* max-width: 100%; */
  width: 220px !important;
}

body #owl-01 .owl-prev,
body #owl-01 .owl-next {
  background-color: var(--pri2) !important;
  border-radius: 50% !important;
  padding: 1px 25px !important;
  font-size: 44px !important;
  color: white;
}

body #owl-01 .owl-prev span,
body #owl-01 .owl-next span {
  margin-top: -5px;
}
.owl-nav {
  position: absolute;
  top: 30%;
  left: -4%;
  right: -4%;
  display: flex;
  justify-content: space-between;
}

.bg-band {
  /* background: url(../img/mid-alt.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right; */
  /* padding: 100px 0; */
}
.social-proof {
  /* background-color: #dee2e6; */
  background: linear-gradient(
    90deg,
    rgba(88, 144, 166, 1) 0%,
    rgba(150, 185, 217, 1) 35%,
    rgba(63, 178, 191, 1) 100%
  );
  color: white;
}

.navbar-brand img {
  max-width: 250px;
}

.btn:hover {
  background-color: blue;
}

.emi h3 {
  position: relative;
}
.emi h3::before {
  content: "";
  display: block;
  width: 80px;
  height: 3px;
  /* background-color: var(--pri2); */
  background-color: blue;
  /* background-color: var(--bg-primary); */
  top: 130%;

  position: absolute;
  /* left: calc(50% - 35px); */
}

.emi h3::after {
  content: "▸";
  display: block;
  /* width: 50px; */
  /* height: 3px; */
  /* color: var(--pri2); */
  color: blue;
  top: 80%;
  left: 70px;
  position: absolute;
  /* right: calc(50% - 15px); */
}

@media (max-width: 568px) {
  .owl-nav {
    position: static;
    margin-bottom: 50px;
  }
}

.overlay-header {
  /* background-color: #000000de; */
  background: linear-gradient(
    0deg,
    rgb(22 55 98) 30%,
    rgb(22 55 98) 10%,
    rgba(252, 176, 69, 0.1) 100%
  );
}

/* header {
  background: #29405f;
  background: #163762;
} */

/* nav {
  background-color: white;
} */

/* text-shadow: 1px 1px 3px #000 */

/* #header-main {
  background: url(../img/top-banner-removebg-preview\ \(1\).png);
  background-repeat: no-repeat;
  background-position: 220px 0;
} */

.founders-note {
  background: url(../img/testimonial-slider-background-black.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.founders-note video {
  max-width: 300px;
}

.founders-note .row {
  max-width: 800px;
}

.founders-note h2::before {
  left: 0;
}
.founders-note h2::after {
  top: 113%;
  left: 20.3%;
}

.fw-bold.fs-1::after {
  content: ".";
  font-size: 88px;
  position: absolute;
  left: 71%;
  top: -73%;
  color: lightblue;
}
.social-proof .row > div {
  position: relative;
}

#radios-header label {
}

/* cp custom radio header */

.card-radio-btn .content_sub {
  color: #9e9e9e;
  font-size: 14px;
}

.card-input-element + .card {
  justify-content: center;
  box-shadow: none;
  border: 1px solid var(--secondary-black);
  border-radius: 33px;
  text-align: center;
}

.card-input-element + .card:hover {
  cursor: pointer;
}

.card-input-element:checked + .content_head {
  color: white;
}
.card-input-element:checked + .card {
  background-color: var(--m-blue);
  /* color: white !important; */
  /* border-color: transparent; */
}

/* cp custom radio header */

#main-inner-form label {
  color: var(--black);
  font-size: 12px !important;
  font-weight: 500;
  text-transform: uppercase;
  width: 100%;
}

#main-inner-form input::placeholder {
  color: var(--secondary-black);
  font-weight: 300;
  font-size: 18px;
}

#main-inner-form input:focus {
  outline: none;
}
#main-inner-form input {
  padding: 12px 0;
  width: 100%;
  border: none;
  border-bottom: 1px solid var(--secondary-black);
  
  -webkit-appearance: none;
  -moz-appearance: textfield;

}

#main-inner-form input::-webkit-outer-spin-button,
#main-inner-form input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
